/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* hides horizontal scrolling on the entire document */


/* -------------------------------------------------------------------------- */
/* vv Imported Typefaces vv */

  /* Osgard */
  @font-face {
       font-family: 'osgardregular';
       src: url('../fonts/anthony_james_-_osgard-webfont.woff2') format('woff2');
       src: url('../fonts/anthony_james_-_osgard-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
   }

  /* Eccentric */
  @font-face {
       font-family: 'eccentricregular';
       src: url('../fonts/eccentric-webfont.woff2') format('woff2'),
            url('../fonts/eccentric-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
   }

  /* Roboto */
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


  /* Courier */
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* vv Classes vv */

body{
  overflow-x: hidden;
  display: flex;
}


.home_order{
  flex-direction: column-reverse;
  height: 100vh;
}

.childpage_order{
  flex-direction: column;
  height: 100vh;
}

nav{
  width: 100vw;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  background-color: #EE7642;
  position: sticky;
}

/* added in margin: 0px; so that on the index.html the whole screen is fixed to full height */
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  margin: 0px;
}

nav ul li{
  margin: 0px 10% 0px 10%;
}

nav ul li a{
  font-size: 26px;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a span{
  font-family: 'eccentricregular';
  font-weight: normal;
  font-size: 55px;
  display: inline-block;
  width: max-content;
}

nav ul li:not(#navcart) a:hover {
  background-color: #FBB44E;
  color: #000;
  padding: 40px 75px 40px 75px;
  margin: -40px -75px -40px -75px;
  transition: ease-out 0.1s;
}

a#gavinlink:hover {
  background-color: #FBB44E;
  color: #000;
  padding: 75px 65px 35px 65px;
  margin: -75px -65px -35px -65px;
}

#gavinmobile{
  display: none;
}

nav.index_nav ul li a:hover {
  background-color: #FBB44E;
  color: #000;
  padding: 40px 75px 28px 75px;
  margin: -40px -75px -28px -75px;
}

.index_nav a#gavinlink:hover {
  background-color: #FBB44E;
  color: #000;
  padding: 51px 65px 21px 65px;
  margin: -51px -65px -21px -65px;
}

/* Sticky Nav */

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.sticky + .content {
  padding-top: 60px;
}


.home_hero{
  background-image: url('../img/albumart_desktop.jpg');
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.child_hero{
  background-image: url('../img/albumart_desktop.jpg');
  width: 100vw;
  height: 90%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left_align{
  justify-content: left;
}

.home_hero h1,
.child_hero h1{
  font-family: 'osgardregular';
  font-weight: normal;
  font-size: 240px;
  line-height: 250px;
  color: #FBB44E;
  margin: 0px;
}

.home_hero p,
.child_hero p{
  font-family: 'Courier Prime', monospace;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 15px;
}

.diamonds{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  position: relative;
  top: 5%;
}

.diamonds ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: -15px 0 0 0;
  list-style-type: none;
}

.diamonds ul li{
  margin: 0px 20px 0px 20px;
}

.rotateme{
  width: 10px;
  height: 10px;
  background-color: #EE7642;
  transform: rotate(45deg);
}

#rotateme_HL{
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

/* Timed Content */

#b,
#c,
#d,
#e{
  display: none;
}

/* Sets up the about page section....you'll want to copy/paste and rename/style a bit for the tour page as well */
.aboutpage{
  background-image: url('../img/albumart_desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Sets the band group photo as a background image */
.about_hero{
  background-image: url('../img/groupphoto.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 575px;
  margin: 0 auto;
}

.aboutpage h4{
  font-family: 'osgardregular';
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  color: #FBB44E;
  margin: 20px 0px 0px 0px;
  position: relative;
  right: 23%;
}

.aboutpage p{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
  margin: -5px 0px 46px 0px;
  position: relative;
  width: 928px;
  left: 1%;
}

.tourpage{
  background-color: #FBB44E;
  width: 100vw;
  height: 5000px;
  padding: 0;
}

.tourflames{
  background-image: url('../svg/dgd_tourflames.svg');
  margin: 0;
  padding: 0;
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}
.tour_hero{
  width: 100%;
  margin: 0 auto;
}

.tour_hero h3{
  font-family: 'osgardregular';
  font-weight: normal;
  font-size: 144px;
  line-height: 144px;
  color: #36333e;
  margin: 0;
  padding: 92px 0px 125px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tourdate{
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: center;
}

.tourdate_box{
  width: 268px;
  height: 268px;
  border: 16px solid #36333e;
  justify-content: center;
  align-items: center;
  margin: 0 0 71px 0;
  font-family: 'eccentricregular';
  font-size: 72px;
  color: #36333e;
  text-align: center;
}

.tourdate_box span{
  font-family: 'osgardregular';
  font-size: 200px;
  line-height: 175px;
  color: #36333e;
  text-align: center;
}

.tourdate_location{
  width: 840px;
  height: 250px;
  background-color: #36333e;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 25px 30px 25px 30px;
  font-family: 'osgardregular';
  font-size: 72px;
  color: #fbb44e;
  text-align: center;
}

.tourdate_location span{
  font-family: 'eccentricregular';
  font-size: 130px;
  line-height: 150px;
  color: #ee7642;
  text-align: center;
}

.tourdate_location span#OCT13{
  letter-spacing: -0.01em
}

.tourdate#laststop{
  padding: 0 0 190px 0;
}

.shoppage{
  background-color: #ee7642;
  width: 100vw;
  height: 3000px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shop_item{
  margin: 45px;
  background-color: #ffffff;
  width: 394px;
  height: 394px;
}

.shop_item .itemname{
  position: relative;
  background-color: none;
  color: #36333e;
  font-size: 30px;
  width: 394px;
  right: 50%;
  margin-bottom: 20px;
}

.shop_item .container {
  position: relative;
  width: 100%;
  background-color: #FBB44E;
}

.shop_item .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .2s ease;
  backface-visibility: hidden;
}

.shop_item .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.shop_item .container:hover .image {
  opacity: 0.1;
}

.shop_item .container:hover .middle {
  opacity: 1;
}

.shop_item .addtocart_button button{
  background-color: #fbb44e;
  color: #36333e;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  border-radius: 20px;
  width: 200px;
}

.shop_item .addtocart_button button:hover{
  background-color: #36333e;
  color: #fff;
  border: none;
  transition: ease-out 0.2s;
}

/* cart icon */
.cart{
  background-image: url('../svg/cart.svg');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 4;
  top: 7px;
}

/* circle behind the item counter */
.cart .cartcounter{
  width: 30px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  background-color: #fbb44e;
  border-radius: 30px;
  margin: 0 0 0 65px;
}

/* the item counter itself */
.cart .cartcounter a{
  color: #36333e;
  position: relative;
  justify-content: center;
  left: 8px;
  bottom: 1px;
}

.shop_item .selectsize_header {
  background-color: #fbb44e;
  color: #36333e;
  font-size: 20px;
  padding: 16px 32px;
  margin-bottom: -20px;
}

.shop_item .selectsize_menu {
  background-color: none;
  width: 100%;
  color: white;
  padding: 16px 32px;
  margin: 10px 10px 0 -32px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* The container */
.selectsize_menu .container {
  background-color: #fbb44e;
  color: #36333e;
  display: block;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 15px
}

.selectsize_menu .container:hover{
  background-color: #ee7642;
  color: #fff;
  transition: ease-out 0.2s;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4px;
  left: 6px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ee7642;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* Off Canvas Navigation */

.hamburger{
  font-size:30px;
  cursor:pointer;
  color: #fff;
  position: relative;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #EE7642;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  line-height: 50px;
  display: block;
  transition: 0.2s;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.sidenav a:hover {
  color: #36333e;
  background-color: #fbb44e;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Mobile Styles */

@media screen and (max-width: 768px){

  /* Home Page */

  .home_hero h1, .child_hero h1 {
    font-weight: normal;
    font-size: 130px;
    line-height: 140px;
    margin: -110px 0 0 20px;
}

.home_hero p, .child_hero p {
  margin: 0 auto;
  padding: 10px 60px 0 50px ;
}
nav{
  position: absolute;
  top: 0px;
}

nav ul {
  width: 20%;
  margin: 0 auto;
  position: relative;
  right: 15px;
}

nav ul li a{
  font-size: 15px;
}

#aboutpagehideme{
  display: none;
}

.diamonds {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  position: absolute;
  bottom: -680px;
  left: 27.5%;
}

.child_hero .diamonds {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  position: absolute;
  bottom: -545px;
  left: 27.5%;
}

.aboutpage{
  padding: 0px;
}

.about_hero{
  height: 356px;
}

.aboutpage h4{
  right: 27%;
}

.aboutpage p{
  width: 625px;
  margin-top: 20px;
  font-size: 25px;
  line-height: 32px;
}

.content{
  height: 100vh;
}

.left_align{
  margin: 3%;
}

.left_align br{
  display: none;
}

.tourpage{
  height: auto;
  padding: none;
}

.tour_hero h3 {
  font-size: 100px;
  padding: 40px 0 40px 0;
  margin-top: -25px;
}

.tourdate_location{
  width: 447px;
  height: 112px;
  background-color: #36333e;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 7px 20px 25px 20px;
  font-family: 'osgardregular';
  font-size: 40px;
  color: #fbb44e;
  text-align: center;
}

.tourdate_box{
  width: 120px;
  height: 120px;
  border: 12px solid #36333e;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
  font-family: 'eccentricregular';
  font-size: 30px;
  color: #36333e;
  text-align: center;
}

.tourdate_box span{
  font-size: 100px;
  line-height: 86px;
}

.tourdate_location span {
  font-family: 'eccentricregular';
  font-size: 72px;
  line-height: 80px;
}

.tourdate_location span#OCT13{
  letter-spacing: -0.02em
}

.tourdate#laststop{
  padding: 0 0 100px 0;
}

.shoppage{
  height: auto;
  padding-bottom: 150px
}

/* cart icon */
.cart{
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 4;
  top: 14px;
}

/* circle behind the item counter */
.cart .cartcounter{
  width: 15px;
  height: 15px;
  font-size: 12px;
  background-color: #fbb44e;
  border-radius: 15px;
  margin: 0 0 0 32px;
}

/* the item counter itself */
.cart .cartcounter a{
  color: #36333e;
  position: relative;
  justify-content: center;
  left: 4px;
  bottom: 4px;
}



}




@media screen and (max-width: 320px){

  .hamburger{
    font-size: 30px;
    cursor:pointer;
    color: #fff;
    position: relative;
    display: inline;
    left: -25px;
  }

  .index_nav ul{
    display: none;
  }

  #gavlink{
    display: inline;
  }

  .home_hero br {
    display: none;
  }

  .about_hero br {
    display: none;
  }

nav{
  height: 60px;
}

#gavinmobile{
  display: inline;
  font-size: 26px;
  color: #ffffff;
  font-family: 'eccentricregular';
  font-weight: normal;
  font-size: 35px;
  position: relative;
  left: -5px;
}

.home_hero{
  height: 568px;
}

  .home_hero h1, .child_hero h1 {
    font-weight: normal;
    font-size: 54px;
    line-height: 60px;
    margin: -55px 8px 8px 8px;
}

.home_hero p, .child_hero p {
  font-family: 'Courier Prime', monospace;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 35px;
  margin-right: 8px;
  padding: 0 5px 0 5px;
}

.diamonds {
  bottom: -75%;
  left: -18px;
}

#navbar ul{
  display: none;
}

.child_hero{
  display: none;
}

.about_hero {
  width: 100vw;
  height: 175px;
  background-size: cover;
  margin-top: 60px;
}

.content{
  padding: 0px;
  height: auto;
}

.aboutpage{
  height: 568px;
}

.aboutpage h4 {
  right: 22%;
}

.aboutpage h4 {
  margin: 20px 0px 0px 70px;
}

.aboutpage p {
  font-size: 13px;
  line-height: 22px;
  width: 264px;
}

.tourpage {
  background-color: #FBB44E;
  width: 100vw;
  height: auto;
  padding: 0;
}

.tour_hero h3 {
  font-size: 45px;
  padding: 40px 0 0px 0;
  margin: -10px 0 -25px 0;
}

.tourdate_box {
  width: 69px;
  height: 69px;
  border: 4px solid #36333e;
  justify-content: center;
  align-items: center;
  margin: 0 0 19px 0;
  font-family: 'eccentricregular';
  font-size: 18px;
  color: #36333e;
  text-align: center;
}

.tourdate_location {
  width: 183px;
  height: 57px;
  background-color: #36333e;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 2px 10px 2px;
  font-family: 'osgardregular';
  font-size: 16px;
}

.tourdate_box span {
  font-family: 'osgardregular';
  font-size: 64px;
  line-height: 50px;
}

.tourdate_location span {
  font-family: 'eccentricregular';
  font-size: 30px;
  line-height: 35px;
}

.tourdate_location span#OCT13{
  letter-spacing: -0.03em
}

.tourdate#laststop{
  padding: 0 0 50px 0;
}


.shoppage{
  background-color: #ee7642;
  width: 100vw;
  height: auto;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shop_item{
  margin: 25px;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
}

.shop_item .itemname{
  position: relative;
  background-color: none;
  color: #36333e;
  font-size: 13px;
  width: 140px;
  right: 0;
  margin-bottom: 5px;
}

.shop_item .container {
  position: relative;
  width: 100%;
  background-color: #FBB44E;
}

.shop_item .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .2s ease;
  backface-visibility: hidden;
}

.shop_item .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.shop_item .container:hover .image {
  opacity: 0.1;
}

.shop_item .container:hover .middle {
  opacity: 1;
}

.shop_item .addtocart_button button{
  background-color: #fbb44e;
  color: #36333e;
  font-size: 15px;
  padding: 4px 4px;
  margin: 0;
  border: none;
  border-radius: 10px;
  width: 140px;
}

.shop_item .selectsize_header {
  background-color: #fbb44e;
  color: #36333e;
  font-size: 13px;
  padding: 2px 16px;
  margin-bottom: 5px;
}

.shop_item .selectsize_menu {
  background-color: none;
  width: 100%;
  color: white;
  padding: 8px 16px;
  margin: -10px 5px -10px -16px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* The container */
.selectsize_menu .container {
  background-color: #fbb44e;
  color: #36333e;
  display: block;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 13px
}

.selectsize_menu .container:hover{
  background-color: #ee7642;
  color: #fff;
  transition: ease-out 0.2s;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 3px;
  height: 13px;
  width: 13px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ee7642;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 0;
	left: 0;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: white;
}



}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
